body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

table, th,tr,td{
    border: 2px solid black;
    background-color: azure;
}

table{
    align-self: center;
}

td,th{
    width: 200px;
}

/* Clear this */